<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sinapse: chat example</title>
    <link rel="stylesheet" href="/chat.css" />
  </head>
  <body>

    <h1>Sinapse Chat</h1>

<%= yield %>

  </body>
</html>
