<form action="/sign_in" method="post">
  <div class="field">
    <label for="user_name"></label>
    <input type="text" autofocus maxlength="20" name="user_name" id="user_name"/>
  </div>

  <div class="buttons">
    <input type="submit" value="Sign in"/>
  </div>
</form>
